
.git

# System
.DS_Store

# File editor
Session.vim
*.swp

# KiCad
*bak*
*.bck
*.kicad_prl
*-backups
*-cache*
*~
~*
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
*.net
*.dsn
*.ses
*.xml
*.csv
